/************************************************************************************************/
/* ----------------------------------------- */

/* ---------CARRITO HTML----------- */

.paginaCarrito {
    height: auto;
    margin-bottom: 20px;
}

.sectionCarrito {
    display: flex;
    justify-content: center;
}

.paginaCarrito div {
    background-color: rgb(241, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 1%;
}

.parrafoCarrito {
    margin-left: 80px;

    h3 {
        font-size: 3rem;
        font-weight: bolder;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: large;

        span {
            font-weight: 100;
            color: #3b3a3a;
        }
    }
}

.paginaCarrito button {
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    background-color: rgb(187, 132, 44);
    border-radius: 5px;
    border: none;

    a {
        color: antiquewhite;
        text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
    }
}