//MIXIN

//MIXIN ANCLAS DEL ACTIVE
@mixin anclas {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

//MIXIN FLEX - ROW - CENTER

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}