/* *********************************************** */
/* Titulo */

.titulo {
    position: relative;
    z-index: 2;
    font-size: 4rem;
    text-align: center;
}

/* Section "Titutlo" */

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;

    div {
        background-color: #c7a432;
        width: 50%;
        height: 30px;
        opacity: 35%;
        position: relative;
        bottom: 35px;
    }
}